
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    
     background-image: url("img/badgraund.png");
    background-size: cover;     /* hace que cubra toda la pantalla */
    background-position: center; /* centra la imagen */
    background-repeat: no-repeat; /* evita que se repita */
}

h1 {
    text-align: center;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  justify-items: center;
  padding: 0 10px;
}
.product {
  position: relative;
  width: 100%;
  max-width: 120px;
  cursor: pointer;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2); /* blanco transparente */
  padding: 15px;
  border-radius: 10px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  overflow: hidden;
  opacity: 1;
  transform: scale(1);
  text-decoration: none;
  color: inherit;
}


.product img {
  width: 100%;
  height: auto;
  border-radius: 10px; /* bordes suaves */
  transition: transform 0.4s ease;
}


